* {
    margin: 0px;
    padding: 0px;
}
/* nav bar style */
.nav-bar {
    background-color: gray;
}
.nav-container {
    padding: 15px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu li {
    display: inline;
    padding: 20px;
}

.menu li a {
    text-decoration: none;
    list-style: none;
    color: #fff;
    font-size: 20px;
}
/* hero style */

#heru-section {
    background-image: url('../asset/image/background.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.hero-coatainer {
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: rgba(8, 8, 8, 0.5);
}
.hero-info {
    color: #fff;
    width: 500px;
    margin: auto;
}
.hero-info h1 {
    font-size: 55px;
    margin-bottom: 15px;
}
.hero-info h1 > span {
    color: #ff3b3b;
}
.hero-info p {
    color: #ddd;
    margin-bottom: 15px;
}
.btn {
    padding: 10px 15px;
    cursor: pointer;
}
.btn-red {
    background-color:#ff3b3b;
    color: #fff;
    border: 1px solid #ff3b3b;
    margin-left: 5px;
}
/* service style */
.margin-section {
   background-image: linear-gradient(rgba(3, 3, 3, 0.9), rgba(49, 53, 1, 0.9)), url('../asset/image/footer-bg.png');
}

.service-container {
    color: #fff;
    display: flex;
    justify-content: space-between;
    height: 100vh;
    align-items: center;
    width: 1140px;
    margin: auto;
}
.service-info h3 {
    font-size: 36px;
    margin: 15px 0px;
  }
  .service-info p {
    margin-bottom: 15px;
    width: 400px;
    font-size: 16px;
    line-height: 22px;
    color: #ddd;
  }
  .service-list {
    line-height: 26px;
    margin-left: 14px;
    font-size: 18px;
    margin-bottom: 15px;
  }
 .pro-img img {
    width: 70px;
    height: 70px;
    border-radius: 50px;
 }
  .frofile-info {
    margin-top: 20px;
    display: flex;
    align-items: center;
  }
  .pro-img {
    display: flex;
    align-items: center;
  }
  .namr-title {
    line-height: 22px;
    margin-left: 15px;
    margin-right: 30px;

  }
  .profile-pic {
    border-right: 3px solid red;
    margin-right: 30px;
  }
  .hire-btn {
    text-transform: uppercase;
  }
  .service-all-box {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
  }
  .service-sing {
    text-align: center;
    border-radius: 5px;
    padding: 50px;
    background-color: #fff;
    color: #000;
  }
  .service-sing h3 {
    font-size: 28px;
  }
  .service-sing img {
    margin-bottom: 15px;
    width: 70px;
  }
  /* contact style */
  .contact-container {
    width: 990px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff3b3b;
    color: #fff;
    padding: 30px 20px;
    border-radius: 10px;
    height: 100px;
  }
  .call-box img {
    width: 50px;
  }
  .contact-section {
    margin-top: -40px;
  }
  .call-box {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  .contact-phone-nub {
    margin-left: 20px;
  }
  .contact-phone-nub h5 {
    margin-bottom: 5px;
  }
  .contact-info p {
    width: 478px;
    margin: auto;
    text-align: center;
  }
  /* news style */

  .news-section {
    padding-bottom: 80px;
    background-color: #766f6f;
  }
  .news-section h1 {
    color: #fff;
    font-size: 45px;
    text-align: center;
    padding: 40px 0px;
  }
  .news-container,
  .footer-container {
    color: #fff;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 1140px;
    margin: auto;
    
  }
  .news-box img {
    margin-bottom: 15px;
    width: 100%;
  }
  .news-box h3 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  .news-box p {
    width: 282px;
  }

  /* footer style */
  #footer-section {
    padding: 80px 0px;
    background-color: #232323;
  }
  .foot-contain {
    border-bottom: 1px solid #766f6f;
    text-align: left;
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
  }
  .foot-contain h5 {
    margin-bottom: 20px;
    font-size: 18px;
  }
  li {
    list-style: none;
  }
  .footer-onformation p {
    width: 500px;
    line-height: 28px;
    color: #b4b4b4;
    text-align: end;
  }
  .footer-onformation h5 {
    text-align: end;
  }
  .icons-links {
    margin-top: 20px;
  }
  .footer-social-links ul li {
    color:#b4b4b4;
    line-height: 26px;
  }
  .icons-links i {
    margin-right: 5px;
    cursor: pointer;
  }
  .footer-box ul li {
    line-height: 36px;
  }
  .footer-box ul li a {
    color: #b4b4b4;
    text-decoration: none;
  }
  .copy-right {
    margin-top: 30px;
  }
  .copy-right p {
    text-align: center;
    color: #b4b4b4;
  }